body {
   font-family: "Oswald", sans-serif;
    color: #202020;
    background-color: #ffffff;
}

/* ====resetting default properties=== */

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
    color: currentColor;
  
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


/* common */
button {
    cursor: pointer;
}
.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
  

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
        
    }
}


 /* #region Heder */

.page-heder {}

.heder-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.heder-logo {
    padding: 16px 0;
    display: block;
}

@media screen and (min-width: 768px) {
.heder-logo {
        padding: 24px 0;
        margin-right: 120px;
     }
    }

    @media screen and (min-width: 1158px) {
.heder-logo {
        margin-right: 76px;
     }
    }

@media screen and (min-width: 768px) {
.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-direction: row;
    font-size: 16px;
     }
}

@media screen and (min-width: 1158px) {
    .contacts-list {
        display: flex;
        align-items: center;
        gap: 40px;
        flex-direction: row;
        font-size: 16px;
        
    }
}


.contacts-link {
    font-family: "Roboto", sans-serif; 
    text-decoration: none;
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
 
@media screen and (min-width: 1158px) {
    .contacts-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
}   
    .contacts-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
       
    }
    
} 

.contacts-link:hover,
.contacts-link:focus {
    color: #ffcc11;
}

 /* #endregion */

/* #region Hero */
/*
.main-page {
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img-office-mobile@1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 320px; 
    margin-right: auto;
    margin: 0 auto;
    padding: 72px 0;
}

 
@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
.main-page {
    max-width: 320px;
    background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img-office-mobile@2x.jpg);
        
    }
}



@media screen and (min-width: 768px) {
.main-page {
    max-width: 768px;
        background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-image.jpg\ tablet@1x.jpg);
           
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
(min-resolution: 192dpi) and (min-width: 768px) {
.main-page {
    max-width: 768px;
    background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('/images/hero-image.jpg');
    /* background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(/images/hero-image.jpg\ tablet@2x.jpg); 
    }
}



@media screen and (min-width: 1158px) {
.main-page {
    max-width: 1158px;
    background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('/images/hero-image.jpg');
     background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-image.jpg\ desktop@1x.jpg);
    } 
}
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
(min-resolution: 192dpi) and (min-width: 1158px) {
.main-page {
    max-width: 1158px;
    background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('/images/hero-image.jpg');
        
}
}  /*
*/

.main-page {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.slider-container {
    width: 100%;
    height: 100vh; 
    /* height: 700px;  */
    overflow-y: scroll; 
    scroll-snap-type: y mandatory;
}

.slides {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    color: #fff;
   scroll-snap-align: start;
}

.slides img {
width: 250px;
}

.heading {
    font-weight: 700;
    font-size: 60px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
   
}
.slide1 {
    background-color: #202020;
}
.slide2 {
    background-color: #4a4a4a;
}

/*
@media screen and (min-width: 768px) {
    .main-page-title {
    font-size: 56px;
    max-width: 496px;
    margin-bottom: 36px;
    }
}

@media screen and (min-width: 1158px) {
    .main-page-title {
   margin-bottom: 48px;
    }
}

/* .main-page-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #202020;
    background-color: #ffcc11;
    border-radius: 4px;
    padding: 16px 32px;
    display: block;
    border: none;
    margin: 0 auto;
    min-width: 169px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .main-page-btn:hover,
.main-page-btn:focus {
    background-color: #202020;
    color: #fff;
} */

/* #endregion Hero */



/*  #region Our Servises */

.our-services {
    padding-top: 120px;
    padding-bottom: 120px;
}

.heading2 {
    font-weight: 700;
    font-size: 60px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.services-case {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
   }

@media screen and (min-width: 768px) {
    .services-case {
       flex-direction: row;
       flex-wrap: wrap;
       gap: 72px 24px;
       justify-content: center;
    }
}

@media screen and (min-width: 1158x) {
.services-case {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 48px;
}
}

.services-item {
    min-width: 288px;
    background: #fff;
    cursor: pointer;
    gap: 24px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .services-item {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
.services-item {
    width: calc((100% - 48px) / 3);
 }
}


.services-list {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;

}

.services-name-case {
    font-weight: 600;
    font-size: 22px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #2e2f42;
    margin-bottom: 8px;
}

.services-text {
    font-family: "Roboto", sans-serif; 
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.services-image {
    position: relative;
    overflow: hidden;
}


.services-item:hover .overlay-text,
.services-item:focus .overlay-text {
    transform: translateY(0%);
}

.services-item:hover,
.services-item:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-text {
    font-family: "Roboto", sans-serif; 
    background-color: #ffcc11;
    padding: 40px 32px;
    position: absolute;
    transform: translateY(100%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #202020;
}
/*  #endregion Our Portfolio */



/* #region Footer */

.page-footer {
    background-color: #202020;
    padding: 96px 0;
  }

@media screen and (min-width: 1158px){
.page-footer {
    padding: 100px 0;
}
}

.footer-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
} 

@media screen and (min-width: 768px) {
.footer-cont {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    justify-content: space-between;
    }
}

@media screen and (min-width: 1158px) {
    .footer-cont {
       align-items: baseline;
        padding-left: 15px;
        padding-right: 15px;
        gap: 0;
        justify-content: space-between;
}
}



.text-cont {
     text-align: center;     
    }

@media screen and (min-width: 768px) {
.footer-text {
text-align: left;
   }
}

@media screen and (min-width: 1158px) {
    .footer-text {
       margin-right: 50px;
    }
}

.footer-text {
    font-weight: 400;
    font-size: 22px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #f4f4fd;
    text-align: left;
    margin-top: 16px;
    max-width: 600px;
}
/* #andregion Footer */