body {
    font-family: "Roboto", sans-serif; 
    /* font-family: "Oswald", sans-serif; */
    color: #202020;
    background-color: #ffffff;
}

/* ====resetting default properties=== */
ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
    color: currentColor;
  
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


/* common */
button {
    cursor: pointer;
}
.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
  

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
        
    }
}


 /* #region Heder */

.page-heder {}

.heder-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.heder-logo {
    padding: 16px 0;
    display: block;
}

@media screen and (min-width: 768px) {
.heder-logo {
        padding: 24px 0;
        margin-right: 120px;
     }
    }

    @media screen and (min-width: 1158px) {
.heder-logo {
        margin-right: 76px;
     }
    }

@media screen and (min-width: 768px) {
.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-direction: row;
    font-size: 16px;
  }
}

@media screen and (min-width: 1158px) {
    .contacts-list {
        display: flex;
        align-items: center;
        gap: 40px;
        flex-direction: row;
        font-size: 16px;
        
    }
}


.contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
 
@media screen and (min-width: 1158px) {
    .contacts-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
}   
    .contacts-link {
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
        text-decoration: none;
    }
    
} 

.contacts-link:hover,
.contacts-link:focus {
    color: #ffcc11;
}

 /* #endregion */

/* #region Hero */

.main-page {
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img-office-mobile@1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 320px; 
    margin-right: auto;
    margin: 0 auto;
    padding: 72px 0;
}

 
@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
.main-page {
    max-width: 320px;
    background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img-office-mobile@2x.jpg);
        
    }
}



@media screen and (min-width: 768px) {
.main-page {
    max-width: 768px;
        background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-image.jpg\ tablet@1x.jpg);
           
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
(min-resolution: 192dpi) and (min-width: 768px) {
.main-page {
    max-width: 768px;
    background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('/images/hero-image.jpg');
    /* background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(/images/hero-image.jpg\ tablet@2x.jpg); */
    }
}



@media screen and (min-width: 1158px) {
.main-page {
    max-width: 1158px;
    background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('/images/hero-image.jpg');
    /* background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-image.jpg\ desktop@1x.jpg);
    } */
}
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
(min-resolution: 192dpi) and (min-width: 1158px) {
.main-page {
    max-width: 1158px;
    background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('/images/hero-image.jpg');
        
}
}




.main-page-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
    max-width: 216px;
   
}
@media screen and (min-width: 768px) {
    .main-page-title {
    font-size: 56px;
    max-width: 496px;
    margin-bottom: 36px;
    }
}

@media screen and (min-width: 1158px) {
    .main-page-title {
   margin-bottom: 48px;
    }

}

.main-page-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #202020;
    background-color: #ffcc11;
    border-radius: 4px;
    padding: 16px 32px;
    display: block;
    border: none;
    margin: 0 auto;
    min-width: 169px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-page-btn:hover,
.main-page-btn:focus {
    background-color: #202020;
    color: #fff;
}

/* #endregion Hero */



/*  #region Our Servises */

.our-services {
    padding-top: 120px;
    padding-bottom: 120px;
}

.our-services-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.services-case {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
   }

@media screen and (min-width: 768px) {
    .services-case {
       flex-direction: row;
       flex-wrap: wrap;
       gap: 72px 24px;
       justify-content: center;
    }
}

@media screen and (min-width: 1158x) {
.services-case {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 48px;
}
}

.services-item {
    min-width: 288px;
    background: #fff;
    cursor: pointer;
    gap: 24px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .services-item {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
.services-item {
    width: calc((100% - 48px) / 3);
 }
}


.services-list {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;

}

.services-name-case {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.services-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.services-image {
    position: relative;
    overflow: hidden;
}


.services-item:hover .overlay-text,
.services-item:focus .overlay-text {
    transform: translateY(0%);
}

.services-item:hover,
.services-item:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-text {
    background-color: #ffcc11;
    padding: 40px 32px;
    position: absolute;
    transform: translateY(100%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #202020;
}
/*  #endregion Our Portfolio */



/* #region Footer */

.page-footer {
    background-color: #2e2f42;
    padding: 96px 0;
  }

@media screen and (min-width: 1158px){
.page-footer {
    padding: 100px 0;
}
}


.footer-logo .logo-part {
    color: #f4f4fd
}


.footer-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
} 

@media screen and (min-width: 768px) {
.footer-cont {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    }
}

@media screen and (min-width: 1158px) {
    .footer-cont {
       align-items: baseline;
        padding-left: 15px;
        padding-right: 15px;
        gap: 0;
}
}


.page-footer .footer-logo {
    display: inline-block;
}

.footer-text {
     text-align: center;
     }

@media screen and (min-width: 768px) {
.footer-text {
text-align: left;
   }
}

@media screen and (min-width: 1158px) {
    .footer-text {
       margin-right: 120px;
    }
}

.page-footer-text {
    font-weight: 500
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 288px; 
    text-align: left;
    margin-top: 16px;
    }

@media screen and (min-width: 768px) {
.page-footer-text {
       width: 264px;
    }
}

@media screen and (min-width: 768px) {
.social-text,
.footer-text-subscribe {
    text-align: left;   
     margin-bottom: 16px;
    
  }
}

/* #andregion Footer */



.form-wraper-cont {
    margin-bottom: 8px;
    ransition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.form-textarea {
    margin-bottom: 16px
}


.user-comment:focus {
    border-color: #4D5AE5;
}

.form-user-label {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.form-user-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

/* .form-user-input:hover, */
.form-user-input:focus {
    border: 1px solid #4d5ae5;
    transition: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-user-input:focus+.form-user-icon {
    fill: #4d5ae5;
}

.form-user-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-user-icon-wrapper {
    position: relative;
}

.user-comment {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    width: 100%;
    resize: none;
    min-height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    padding: 8px 16px;
    outline: none;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.user-coment::placeholder {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.fuser-coment:focus {
    border-color: #4D5AE5;

}

.castom-checkbox {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    fill: transparent;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked+.user-privacy .castom-checkbox {
    background-color: #404BBF;
    fill: #f4f4fd;
    border: none;
}



.form-user-checkbox {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}





.bform-user-checkbox a {
    text-decoration: underline;
}

.user-privacy {
    margin-bottom: 24px;
    line-height: 1.17;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #8e8f99;
}



.form-btn-submit:hover,
.form-btn-submit:focus {
    background-color: #404bbf;
}

.blue {
    color: #4d5ae5;
    text-decoration: underline;
}

.subscribe-cont {
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .subscribe-cont {
        flex-direction: row;
    }
}




@media screen and (min-width: 1158px) {
    .subscribe-cont {
        flex-direction: row;
        margin-left: 80px;

    }
}


.subscribe-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}



.subscribe-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    border: none;
    background-color: #ffcc11;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #202020;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-footer {
    margin-left: 16px;
}


.subscribe-btn:hover,
.subscribe-btn:focus {
    background-color: #fff;
    color: #202020;
}


.input-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

@media screen and (min-width: 768px) {
.input-btn {
    flex-direction: row;
      gap: 24px; 
}
}

.footer-input {
    position: relative;
    display: inline-block;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe-email {

    padding: 16px 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;

    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    
    width: 288px;
    height: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    outline: none;
    transition: border-color 0.3s ease;
} 

@media screen and (min-width: 768px) {
.subscribe-email {
    width: 264px; 
}
}

.subscribe-email::placeholder {
    color: #fff;

    line-height: 2;
    padding-left: 16px;
}

.subscribe-email:focus {
    border-color: #ffcc11;

}